grpcServer/obj/
grpcServer/bin/
grpcClient/obj/
grpcClient/bin/
grpcClient/bin/Debug/net5.0/grpcClient.dll
grpcClient/bin/Debug/net5.0/grpcClient.pdb
grpcClient/bin/Debug/net5.0/ref/grpcClient.dll
grpcClient/obj/Debug/net5.0/grpcClient.dll
grpcClient/obj/Debug/net5.0/grpcClient.pdb
grpcClient/obj/Debug/net5.0/Protos/Message.cs
grpcClient/obj/Debug/net5.0/Protos/MessageGrpc.cs
grpcClient/obj/Debug/net5.0/ref/grpcClient.dll
grpcServer/bin/Debug/net5.0/grpcServer.dll
grpcServer/bin/Debug/net5.0/grpcServer.pdb
grpcServer/bin/Debug/net5.0/ref/grpcServer.dll
grpcServer/obj/Debug/net5.0/grpcServer.dll
grpcServer/obj/Debug/net5.0/grpcServer.pdb
grpcServer/obj/Debug/net5.0/Protos/Message.cs
grpcServer/obj/Debug/net5.0/Protos/MessageGrpc.cs
grpcServer/obj/Debug/net5.0/ref/grpcServer.dll
